{% extends 'base.html' %}

{% block head %}
<title>Weekly Activities</title>
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="../static/css/nav.css">
{% endblock head %}

{% block content %}
<header>
    <div class="containerNav">
        <img src="../static/assets/smart bloobin logo.png" alt="logo" class="logo">

        <nav>
            <ul>
                <li><a href="home" class="active">Home</a></li>
                <li><a href="search">Search</a></li>
                <li><a href="scan">Scan</a></li>
                <li><a href="activity">Activity</a></li>
                <li><a href="location">Location</a></li>
                <li><a href="login">Profile</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container-fluid text-center">    
    <div>
        <h3>Recycling activity in the last 7 days</h3>
        <img src="{{ graph_path }}" alt="Graph1">
    </div>
</div>
{% endblock %}