<!-- This page is customized according to user after authentication -->

{% extends 'base.html' %}

{% block head %}
<title>Welcome to Smart Bloobin</title>
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="../static/css/nav.css">
<link rel="stylesheet" href="../static/css/admin_approval.css">
{% endblock head %}

{% block content %}
<header>
    <div class="containerNav">
        <img src="../static/assets/smart bloobin logo.png" alt="logo" class="logo">

        <nav>
            <ul>
                <li><a href="admin_home">Admin</a></li>
                <li><a href="admin_rewards">Rewards</a></li>
                <li><a href="admin_approval" class="active">Recycle Approval</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="alert"></div>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container-fluid text-center">
    <div class="col-sm-8 text-left">
        <div>
            <br>
            <h3>Welcome, {{ data.username }}!</h3>
            <br>
        </div>
    </div>
</div>
<div class="container-approval text-center">
    <div class="row justify-content-center">
        <div class="col-md-12 mb-5">
            <h2 class="heading-section page-title">Recycle Submission Approval</h2>
        </div>
    </div>

    {% if data.record %}
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-responsive-xl">
                        <thead>
                            <tr>
                                <th>RecycledID</th>
                                <th>UserID</th>
                                <th>Datetime</th>
                                <th>User Labeled</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rec in data.record %}
                            <tr class="alert" role="alert" data-detection-id="{{ rec[4] }}">
                                <td>{{ rec[0] }}</td>
                                <td>{{ rec[1] }}</td>
                                <td>{{ rec[2] }}</td>
                                <td>{{ rec[3]|capitalize }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#approvalModal" onclick="openEditModal(this)">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <h5>No recycling submission is needed for approval</h5>
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="approvalModal" tabindex="-1" aria-labelledby="approvalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="approvalModalLabel">Approval Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="approval-form" method="POST">
                <div class="modal-body">
                    <div style="padding: 0 60px;">
                        <div class="row justify-content-center mb-2">
                            <img id="recycleimg" alt="recycle-image" style="max-height: 50%;">
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext" id="recycleid">
                                <label for="recycleid">RecycledID</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext" id="userid" name="userid">
                                <label for="userid">UserID</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext" id="datetime">
                                <label for="datetime">Datetime</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext" id="userlabeled">
                                <label for="userlabeled">User Labeled</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" readonly class="form-control-plaintext" id="modellabeled">
                                <label for="modellabeled">Model Labeled</label>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                Approval
                            </div>
                            <div class="mb-3">
                                <input type="radio" class="btn-check" name="approval" id="approve" autocomplete="off"
                                    value="1" checked onclick="materialselect(this)">
                                <label class="btn btn-outline-success" for="approve">
                                    <i class="fa-solid fa-check"></i>
                                </label>
                                <input type="radio" class="btn-check" name="approval" id="disapprove" autocomplete="off"
                                    value="-1" onclick="materialselect(this)">
                                <label class="btn btn-outline-danger" for="disapprove">
                                    <i class="fa-solid fa-x"></i>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div id="select-material" hidden>
                                Actual Material
                                <select id="avail-materials" class="form-select" name="material"></select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../static/js/index.js" defer></script>
<script>
    function openEditModal(button) {
        var row = button.parentNode.parentNode;
        var recycleid = row.cells[0].innerText;
        var userid = row.cells[1].innerText;
        var datetime = row.cells[2].innerText;
        var userlabeled = row.cells[3].innerText;
        var detectionId = row.dataset.detectionId;
        var url = "/admin_approval?recycleId=" + recycleid + "&detectionId=" + detectionId;

        collectionReq(detectionId);
        populateModal(recycleid, userid, datetime, userlabeled);
        document.getElementById('approval-form').setAttribute("action", url);

        // Open the Bootstrap modal
        $('#editModal').modal('show');
    }

    function collectionReq(collectionId) {
        $.ajax({
            type: 'GET',
            url: '/admin_approval?collection=' + collectionId,
            success: function (res) {
                document.getElementById('modellabeled').value = capitalize(res.modelLabeled);
                document.getElementById('recycleimg').src = 'data:image/png;base64,' + res.recycleImg;

                let opt = '';
                res.materialType.forEach((type) => {
                    opt += '<option value="' + type + '">' + capitalize(type) + '</option>';
                });
                document.getElementById('avail-materials').innerHTML = opt;
            },
            error: function (error) {
                bootstrap_alert("danger", "Error occurred: Unable to get detection data");
            }
        });
    }

    function populateModal(recycleid, userid, datetime, userlabeled) {
        document.getElementById('recycleid').value = recycleid;
        document.getElementById('userid').value = userid;
        document.getElementById('datetime').value = datetime;
        document.getElementById('userlabeled').value = capitalize(userlabeled);
    }

    function materialselect(radio) {
        var materials = document.getElementById('select-material');

        if (radio.value == "1") {
            if (!materials.hasAttribute('hidden'))
                materials.setAttribute('hidden', "");
        } else {
            if (materials.hasAttribute('hidden'))
                materials.removeAttribute('hidden');
        }
    }

    function capitalize(word) {
        return word.charAt(0).toUpperCase() + word.slice(1)
    }
</script>
{% endblock %}