<!-- This page is used to search through recycling database -->
{% extends 'base.html' %}

{% block head %}
<title>Form</title>
<link rel="stylesheet" href="../static/css/form.css" />
<link rel="stylesheet" href="../static/css/nav.css" />
{% endblock head %}

{% block content %}
<header>
  <div class="containerNav">
    <img src="../static/assets/smart bloobin logo.png" alt="logo" class="logo" />

    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="search">Search</a></li>
        <li><a href="scan" class="active">Scan</a></li>
        <li><a href="#">Activity</a></li>
        <li><a href="location">Location</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        Missing: {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row d-flex justify-content-center align-items-center searchContainer h-100">
  <div class="col-md-9 d-flex justify-content-center align-items-center h-100">
    <div class="row d-flex justify-content-center px-5 form-container h-75">
      <form method="POST" action="{{ url_for('scan') }}?qb={{ data.queryBinID }}&ql={{ data.queryLocation }}"
        class="row d-flex flex-column justify-content-center px-5" enctype="multipart/form-data">
        <h1 class="pb-4">RECYCLE</h1>
        <div class="mb-3">
          <label for="materialType" class="form-label">Select Material Type:</label>
          <select id="materialType" class="form-control" name="materialType">
            {% for label in data.labels %}
            <option value="{{ label }}">{{ label|title }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="fileInput" class="form-label">Select an image:</label>
          <input type="file" id="fileInput" class="form-control" name="fileInput" accept="image/*" />
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
        <div class="mb-3">
          <small class="form-text text-muted">BinID: {{ queryBinID }}</small>
          <small class="form-text text-muted">Location: {{ queryLocation|capitalize }}</small>
          <small id="timeNow" class="form-text text-muted">Datetime: </small>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  // Get the current date and time
  var currentDateTime = new Date();

  // Format the date and time as desired
  var formattedDateTime = currentDateTime.toLocaleString();

  // Update the text content of the small element
  var timeNowElement = document.getElementById("timeNow");
  timeNowElement.textContent += formattedDateTime;
</script>
{% endblock %}