<!-- This page is customized according to user after authentication -->

{% extends 'base.html' %}

{% block head %}
<title>Welcome to Smart Bloobin</title>
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="../static/css/nav.css">
{% endblock head %}

{% block content %}
<header>
    <div class="containerNav">
        <img src="../static/assets/smart bloobin logo.png" alt="logo" class="logo">

        <nav>
            <ul>
                <li><a href="home" class="active">Home</a></li>
                <li><a href="search">Search</a></li>
                <li><a href="scan">Scan</a></li>
                <li><a href="rewards">Rewards</a></li>
                <li><a href="location">Location</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
            aria-selected="true">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="paper-tab" data-toggle="tab" href="#paper" role="tab" aria-controls="paper"
            aria-selected="false">Paper</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="plastic-tab" data-toggle="tab" href="#plastic" role="tab" aria-controls="plastic"
            aria-selected="false">Plastic</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="glass-tab" data-toggle="tab" href="#glass" role="tab" aria-controls="glass"
            aria-selected="false">Glass</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="metal-tab" data-toggle="tab" href="#metal" role="tab" aria-controls="metal"
            aria-selected="false">Metal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="e-waste-tab" data-toggle="tab" href="#e-waste" role="tab" aria-controls="e-waste"
            aria-selected="false">E-waste</a>
    </li>
</ul>

<div class="container-fluid text-center">
    <div class="col-sm-8 text-left">
        <div>
            <br>
            <h1>Welcome, {{username}}!</h1>
            <br>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <img id="graph" src="{{ recentActivityGraph_path }}" alt="Recent Activity Graph">
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="box">
                <div class="box-title">Existing Points</div>
                <div class="points">
                    <span>{{points}}</span>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="material"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all"
            aria-selected="true">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="paper-tab" data-toggle="tab" href="#paper" role="tab" aria-controls="paper"
            aria-selected="false">Paper</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="plastic-tab" data-toggle="tab" href="#plastic" role="tab" aria-controls="plastic"
            aria-selected="false">Plastic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="glass-tab" data-toggle="tab" href="#glass" role="tab" aria-controls="glass"
            aria-selected="false">Glass</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="metal-tab" data-toggle="tab" href="#metal" role="tab" aria-controls="metal"
            aria-selected="false">Metal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="e-waste-tab" data-toggle="tab" href="#e-waste" role="tab" aria-controls="e-waste"
            aria-selected="false">E-waste</a>
        </li>
      </ul>
  
      <!-- Tab panes -->
      <div class="tab-content mt-2" id="myTabContent">
        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
          <!-- Content for the All tab -->
          <img id="graph" src="{{ Last60DaysActivityGraph_path }}" alt="Last 60 Days Activity Graph">
        </div>
        <div class="tab-pane fade" id="paper" role="tabpanel" aria-labelledby="paper-tab">
          <!-- Content for the Paper tab -->
          <img id="graph" src="{{ Last60DaysActivityPaperGraph_path }}" alt="Last 60 Days Activity Graph">
        </div>
        <div class="tab-pane fade" id="plastic" role="tabpanel" aria-labelledby="plastic-tab">
          <!-- Content for the Plastic tab -->
          <img id="graph" src="{{ Last60DaysActivityPlasticGraph_path }}" alt="Last 60 Days Activity Graph">
        </div>
        <div class="tab-pane fade" id="glass" role="tabpanel" aria-labelledby="glass-tab">
          <!-- Content for the Glass tab -->
          <img id="graph" src="{{ Last60DaysActivityGlassGraph_path }}" alt="Last 60 Days Activity Graph">
        </div>
        <div class="tab-pane fade" id="metal" role="tabpanel" aria-labelledby="metal-tab">
          <!-- Content for the Metal tab -->
          <img id="graph" src="{{ Last60DaysActivityMetalGraph_path }}" alt="Last 60 Days Activity Graph">
        </div>
        <div class="tab-pane fade" id="e-waste" role="tabpanel" aria-labelledby="e-waste-tab">
          <!-- Content for the E-waste tab -->
          <img id="graph" src="{{ Last60DaysActivityEwasteGraph_path }}" alt="Last 60 Days Activity Graph">
        </div>
      </div>
    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<script>
    let recycles_by_month = JSON.parse('{{recycles_by_month | tojson}}');
    let month_labels = JSON.parse('{{month_label | tojson}}');

    new Chart(document.getElementById('recycle_by_month'), {
        type: 'line',
        data: {
            labels: month_labels,
            datasets: [{
                label: 'Recyling Count by Month',
                data: recycles_by_month,
                borderColor: 'rgb(75, 192, 192)',
                lineTension: 0.1
            }]
        },
        options: {}
    });

    let material = JSON.parse('{{material | tojson}}');
    let material_count = JSON.parse('{{material_count | tojson}}');

    new Chart(document.getElementById('material'), {
        type: 'bar',
        data: {
            labels: material,
            datasets: [{
                label: "Material Types",
                data: material_count,
                backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68', '#B276B2'],
                borderWidth: 1,
                hoverBorderColor: "black",
                hoverBorderWidth: 2,
                pointHoverRadius: 5
            }],
        },
        options: {
            title: {
                display: true,
                text: "Material Count",
                fontSize: 20,
            },
            legend: {
                position: "right",
                labels: {
                    fontColor: "gray"
                },
                display: true,
            },

            elements: {
                hitRadius: 3,
            }
        }
    })
</script>

{% endblock %}