<!-- This is the page open to public, yet to login -->

{% extends 'base.html' %}

{% block head %}
<title>Welcome to Smart Bloobin</title>
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/nav.css">
{% endblock head %}

{% block content %}
<header>
    <div class="containerNav">
        <img src="../static/assets/smart bloobin logo.png" alt="logo" class="logo">

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="center">
    <div class="title">Start Recycling Today.</div>
    <div class="sub_title">Introduced by Bloobin</div>
    <div class="btns">
        <button>Learn More</button>
        <button>Contact Us</button>
    </div>
</div>

{% endblock content %}