<!-- This page shows the location of the recycling bins in Singapore -->

{% extends 'base.html' %} {% block head %}
<title>Location</title>
<link rel="stylesheet" href="../static/css/location.css" />
<link rel="stylesheet" href="../static/css/search.css" />
<link rel="stylesheet" href="../static/css/nav.css" />
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>

{% endblock head %} {% block content %}
<header>
  <div class="containerNav">
    <img
      src="../static/assets/smart bloobin logo.png"
      alt="logo"
      class="logo"
    />

    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="search">Search</a></li>
        <li><a href="scan">Scan</a></li>
        <li><a href="rewards">Rewards</a></li>
        <li><a href="location" class="active">Location</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<body>
  <div class="search">
    <form onsubmit="searchLocation(); return false;">
      <input
        type="text"
        id="search-input"
        class="search-input"
        placeholder="Enter a location"
        name="search_query"
        data-toggle="dropdown"
        autocomplete="off"
      />
      <a href="#" class="search-icon" onclick="searchLocation();">
        <i class="fa fa-search"></i>
      </a>
    </form>
  </div>

  <div id="map"></div>

  <script>
            var map = L.map('map').setView([1.3521, 103.8198], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

              let myMarker = null;

        // Function to search for a location
        function searchLocation() {
          var input = document.getElementById('search-input').value;

        var redIcon = new L.Icon({
          iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

          // Perform the geocoding request
          fetch('https://api.mapbox.com/geocoding/v5/mapbox.places/' + input + '.json?access_token=pk.eyJ1Ijoib3NzeXVydSIsImEiOiJjbGpzOXlmM3gwb2huM2psbGx1ZWtvM3dyIn0.sUJBInQdWgnsfMBJu-Na5w')
          .then((response) => response.json())
          .then((data) => {
              // Extract the latitude and longitude from the geocoding response
          var latitude = data.features[0].center[1];
          var longitude = data.features[0].center[0];

            if (myMarker !== null) {
            myMarker.remove();
          }

              // Update the map to center on the searched location
              map.setView([latitude, longitude], 13);

              // Add a marker at the searched location
              myMarker = L.marker([latitude, longitude], {icon: redIcon}).addTo(map);
            })
            .catch(function(error) {
              console.log('Error:', error);
            });
        }

            // {% for marker in markers %}
            //   L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
            //   .bindPopup("{{ marker['popup'] }}")
            //   .openPopup();
            // {% endfor %}
        var greenIcon = new L.Icon({
          iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });
        var violetIcon = new L.Icon({
          iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-violet.png',
          shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
          iconSize: [25, 41],
          iconAnchor: [12, 41],
          popupAnchor: [1, -34],
          shadowSize: [41, 41]
        });

    {% if data %}
      // {% set features = data[0]['features'] %}
      // {% for feature in features %}
      //   var marker = L.marker([{{ feature['geometry']['coordinates'][1] }}, {{ feature['geometry']['coordinates'][0] }}], {icon: greenIcon}).bindPopup(`{{ feature['properties']['description']['value'] }}`).addTo(map);
      {% endfor %}
      {% set features = data[1]['features'] %}
      {% for feature in features %}
        var marker = L.marker([{{ feature['geometry']['coordinates'][1] }}, {{ feature['geometry']['coordinates'][0] }}], {icon: violetIcon}).bindPopup(`{{ feature['properties']['Description']|safe }}`).addTo(map);
      {% endfor %}
      {% set features = data[2]['features'] %}
      {% for feature in features %}
        var marker = L.marker([{{ feature['geometry']['coordinates'][1] }}, {{ feature['geometry']['coordinates'][0] }}], {icon: greenIcon}).bindPopup(`{{ feature['properties']['description']['value']|safe }}`).addTo(map);
      {% endfor %}
    {% endif %}
  </script>
</body>
{% endblock %}
