<!-- This page is used to search through recycling database -->

{% extends 'base.html' %} {% block head %}
<title>Search</title>
<link rel="stylesheet" href="../static/css/qsearch.css" />
<link rel="stylesheet" href="../static/css/nav.css" />
{% endblock head %} {% block content %}
<header>
  <div class="containerNav">
    <img
      src="../static/assets/smart bloobin logo.png"
      alt="logo"
      class="logo"
    />

    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="search" class="active">Search</a></li>
        <li><a href="scan">Scan</a></li>
        <li><a href="activity">Activity</a></li>
        <li><a href="location">Location</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<body>
  <div class="container-fluid" style="height: 50%">
    <div
      class="row d-flex justify-content-center align-items-center searchContainer"
      style="height: 100%"
    >
      <div class="col-md-9 m-5">
        <h1 class="heading text-center">
          CAN {% if query %}{{ query | upper }}{% else %}THIS{% endif %} BE
          RECYCLED
        </h1>
        <div class="row d-flex justify-content-center px-5">
          <div class="search">
            <form method="POST" action="{{ url_for('search') }}">
              <div class="dropdown">
                <input
                  type="text"
                  id="search-input"
                  class="search-input"
                  placeholder="Search..."
                  name="search_query"
                  data-toggle="dropdown"
                  autocomplete="off"
                />
                <a href="#" class="search-icon">
                  <i class="fa fa-search"></i>
                </a>
                <div
                  id="suggestions"
                  class="dropdown-menu"
                  aria-labelledby="search-input"
                ></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="overflow: auto">
    <div
      class="row d-flex flex-column justify-content-center align-items-center pt-5 pb-5"
    >
      <div class="col-md-9 flex-column align-items-center table-responsive">
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Material</th>
      <th scope="col">Item</th>
      <th scope="col">Reusable</th>
      <th scope="col">Additional Info</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr> -->
        {% if query %}
        <h3>{{ query|title }}</h3>
        {% endif %} {% if record %}
        <tr>
        <td>{{ record[0]|title }}</td>
        <!-- <h3>Record ID (uppercase): {{ record[5] }}</h3> -->
        <td>{{ record[6]|title }}</td>
        <!-- <p>Material: {{ record[1] }}</p> -->
        <td>{{ record[7]|title }}</td>
        <!-- <p>Description: {{ record[2] }}</p> -->
        <td>{{ record[3]|title }}</p>
        <td>
          {{ record[8]|capitalize }}{{ record[9]|capitalize }}
        </td>
        </tr>
        <!-- <p>Additional Info: {{ record[4] }}</p> -->
        {% elif mrecord %} {% for record in mrecord %}
        <tr>
        <td>{{ record['id']|title }}</td>
        <td>{{ record['type']|title }}</td>
        <td>{{ record['item']|title }}</td> 
        <td>{{ record['recycle']|title }}</td>
        <td>
          {{ record['recyclable']|capitalize }}{{
          record['nonrecyclable']|capitalize }}
        </td>
        </tr>
        <!-- <p>Additional Info: {{ record['remarks'] }}</p> -->
        {% endfor %} {% else %}
        <td>No record found.</td>
        {% endif %}
      </div>
    </div>
  </div>


      <!-- <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td> -->
    <!-- </tr> -->
  </tbody>
</table>

  <script>
    const searchInput = document.getElementById("search-input");
    const suggestionsContainer = document.getElementById("suggestions");

    searchInput.addEventListener("input", function () {
      const searchQuery = this.value;
      if (searchQuery.length >= 2) {
        fetch("/get_suggestions", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ search_query: searchQuery }),
        })
          .then((response) => response.json())
          .then((data) => {
            suggestionsContainer.innerHTML = "";
            if (data && data.suggested_words.length > 0) {
              data.suggested_words.forEach((word) => {
                const suggestion = document.createElement("a");
                suggestion.classList.add("dropdown-item");
                suggestion.href = "search?q=" + encodeURIComponent(word);
                suggestion.textContent = word;
                suggestionsContainer.appendChild(suggestion);
              });
            } else {
              const noResults = document.createElement("a");
              suggestion.classList.add("dropdown-item");
              suggestion.href = "#";
              suggestion.textContent = word;
              suggestionsContainer.appendChild(noResults);
            }
          });
      } else {
        suggestionsContainer.innerHTML = "";
      }
    });
  </script>
</body>
{% endblock %}
