<!-- This page is customized according to user after authentication -->

{% extends 'base.html' %} {% block head %}
<title>Search</title>
<link rel="stylesheet" href="../static/css/search.css" />
<link rel="stylesheet" href="../static/css/nav.css" />
{% endblock head %} {% block content %}
<header>
  <div class="containerNav">
    <img
      src="../static/assets/smart bloobin logo.png"
      alt="logo"
      class="logo"
    />

    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="search" class="active">Search</a></li>
        <li><a href="scan">Scan</a></li>
        <li><a href="#">Activity</a></li>
        <li><a href="location">Location</a></li>
        <li><a href="login">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>

<body>
  <div class="container-fluid" style="height: 50%">
    <div
      class="row d-flex justify-content-center align-items-center searchContainer"
      style="height: 100%"
    >
      <div class="col-md-9 m-5">
        <h1 class="heading text-center">CAN THIS BE RECYCLED</h1>
        <div class="d-flex justify-content-center px-5">
          <div class="search">
            <input
              type="text"
              class="search-input"
              placeholder="Search..."
              name=""
            />
            <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid" style="height: 40%">
      <div class="row d-flex justify-content-center align-items-center p-5" style="height: 100%">
        <div class="col-lg-2 col-md-6 h-100">
          <div class="card h-100 d-flex justify-content-center align-items-center" style="background-color: #1F6AA9; color: #fff;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="80"
                  height="80"
                  fill="currentColor"
                  class="bi bi-recycle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"
                  />
                </svg>
                <div class="text-center mg-text">
                  <h2 class="mg-text">PAPER</h2>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-2 col-md-6 h-100">
          <div class="card h-100 d-flex justify-content-center align-items-center" style="background-color: #E25947; color: #fff;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="80"
                  height="80"
                  fill="currentColor"
                  class="bi bi-recycle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"
                  />
                </svg>
                <div class="text-center mg-text">
                  <h2 class="mg-text">PLASTIC</h2>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-2 col-md-6 h-100">
          <div class="card h-100 d-flex justify-content-center align-items-center" style="background-color: #3CB065; color: #fff;">
                          <div class="card-body d-flex flex-column justify-content-center align-items-center">

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="80"
                  height="80"
                  fill="currentColor"
                  class="bi bi-recycle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"
                  />
                </svg>
                <div class="text-center mg-text">
                  <h2 class="mg-text">GLASS</h2>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-2 col-md-6 h-100">
          <div class="card h-100 d-flex justify-content-center align-items-center" style="background-color: #F2BE3E; color: #fff;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="80"
                  height="80"
                  fill="currentColor"
                  class="bi bi-recycle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"
                  />
                </svg>
                <div class="text-center mg-text">
                  <h2 class="mg-text">METAL</h2>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-2 col-md-6 h-100">
          <div class="card h-100 d-flex justify-content-center align-items-center" style="background-color: #483945; color: #fff;">
              <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="80"
                  height="80"
                  fill="currentColor"
                  class="bi bi-recycle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M9.302 1.256a1.5 1.5 0 0 0-2.604 0l-1.704 2.98a.5.5 0 0 0 .869.497l1.703-2.981a.5.5 0 0 1 .868 0l2.54 4.444-1.256-.337a.5.5 0 1 0-.26.966l2.415.647a.5.5 0 0 0 .613-.353l.647-2.415a.5.5 0 1 0-.966-.259l-.333 1.242-2.532-4.431zM2.973 7.773l-1.255.337a.5.5 0 1 1-.26-.966l2.416-.647a.5.5 0 0 1 .612.353l.647 2.415a.5.5 0 0 1-.966.259l-.333-1.242-2.545 4.454a.5.5 0 0 0 .434.748H5a.5.5 0 0 1 0 1H1.723A1.5 1.5 0 0 1 .421 12.24l2.552-4.467zm10.89 1.463a.5.5 0 1 0-.868.496l1.716 3.004a.5.5 0 0 1-.434.748h-5.57l.647-.646a.5.5 0 1 0-.708-.707l-1.5 1.5a.498.498 0 0 0 0 .707l1.5 1.5a.5.5 0 1 0 .708-.707l-.647-.647h5.57a1.5 1.5 0 0 0 1.302-2.244l-1.716-3.004z"
                  />
                </svg>
                <div class="text-center mg-text">
                  <h2 class="mg-text">WASTE</h2>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</body>
{% endblock %}
