

<div class="title"><span>Your Profile</span></div>
{% if msg %}
<p class="error-message">{{ msg }}</p>
{% endif %}
<form action="{{url_for('profile')}}" method="post">
    <div></div>
    <div class="row">
        <label>Name:</label>
        <input type="text" name="name" id="name" value="{{details[1]}}">
    </div>
    <div class="row">
        <label>Email:</label>
        <input type="text" name="email" id="email" value="{{details[2]}}">
    </div>
    <div class="row">
        <label>Area of Residence:</label>
        <input type="text" name="area" id="area" value="{{details[3]}}">
    </div>
    <div class="row">
        <label>Username:</label>
        <input type="text" name="username" id="username" value="{{details[4]}}">
    </div>
    <div class="row">
        <label>New Password (if any):</label>
        <input type="password" name="password" id="password">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>
</div>