@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

header {
  background: #007cd1;
}

body {
  /* background: #94cce9; */
  /* background: url('../assets/bkgrdpic.jpg')no-repeat; */
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

::selection {
  background: #007cd1;
}

.container {
  max-width: 500px;
  padding: 0 20px;
  margin: 150px auto;
}

.wrapper {
  width: 100%;
  background: white;
  /* background: transparent;
  backdrop-filter: blur(3px); */
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
  height: 90px;
  background: #007cd1;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  padding: 30px 25px 25px 25px;
}

.wrapper form .row {
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}

form .row input:focus {
  border-color: #007cd1;
  box-shadow: inset 0px 0px 2px 2px #007cd1;
}

form .row input::placeholder {
  color: #999;
}

.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #007cd1;
  border: 1px solid #007cd1;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form .pass {
  margin: -8px 0 20px 0;
}

.wrapper form .pass a {
  color: #007cd1;
  font-size: 17px;
  text-decoration: none;
}

.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form .button input {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: #007cd1;
  border: 1px solid #007cd1;
  cursor: pointer;
}

form .button input:hover {
  background: #007cd1;
}

.wrapper form .end-link {
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}

.wrapper form .end-link a {
  color: #007cd1;
  text-decoration: none;
}

form .end-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.searchContainer {
  background: #007cd1;
}

/* CSS for the points display */
.box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-right: 100px;
  position: relative;
}

.box-title {
  flex: 1;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.points {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 80px;
}