@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

header {
  background: #007cd1;
}

::selection {
  background: #007cd1;
}

.container {
  max-width: 500px;
  padding: 0 20px;
  margin: 150px auto;
}

body {
  padding: 0;
  margin: 0;
  height: 92vh;
  width: 100vw;
}

#map {
  height: 82%;
  width: 100%;
}

.search-input {
  height: 100%;
  color: #007cd1;
}

/* Style for the legend */
.info.legend {
  background: #f9f9f9;
  /* Add your desired background color here */
  padding: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 1.5;
  font-size: 14px;
  text-align: left;
}

.info.legend img {
  width: 20px;
  height: 30px;
  margin-right: 8px;
  vertical-align: middle;
}